img {
    display: flex;
    justify-self: center;
    align-self: center;
    border: 1px hsl(0, 0%, 0%) solid;
}
button {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    width: 5vw;
    height: 5vh;
}
#name {
    top: ;
    right: ;
}